body
  background: $white
  padding: 0
  margin: 0
  @include font

.wrapper
  height: 100vh
  max-width: 100vh
  display: flex

.landing-image
  flex-basis: 47%
  &__picture
    max-width: 100%
    img
      height: 100%
